{% extends 'base.html' %}

{% block content %}

  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p>{% for goal in teacher.goals %}<a href="/goals/{{ goal }}/"><span class="badge badge-secondary mr-2">{{ goals[goal] }} </span></a>{% endfor %}Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>{% for day in days %}

              <h6 class="mt-4">{{ days[day] }}</h6>{% set times = [] %}{% for time in free[day] if free[day][time] %}{{ times.append(time)|default("", True) }} {% endfor %}{% if times|length == 0 %}

              <p>Нет свободных уроков</p>{% else %}
{% for time in times %}
              <a href="/booking/{{ id_teacher }}/{{ day }}/{{ time }}/" class="btn btn-outline-success mr-2">{{ time }} свободно</a>{% endfor %}{% endif %}{% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>

{% endblock %}
